@import url(https://fonts.googleapis.com/css?family=Sigmar+One|Special+Elite|Contrail+One);

header {
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;
  background-color: #00a087;
}

header section ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

header section ul li {
  display: inline;
}

footer {
  position: fixed;
  bottom: 0;
  z-index: 9999;
  width: 100%;
  height: 50px;
  background-color: #00a087;
}

footer section ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

footer section ul li {
  display: inline;
}

section {
  display: inline;
}

.right {
  position: absolute;
  right: 0px;
  width: 50%;
  text-align: right;
}

.left {
  position: absolute;
  left: 0px;
  width: 50%;
  text-align: left;
}

nav {
  margin-top: 60px;
  width: 25%;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

nav ul li {
  padding: 5px;
}

nav ul li a {
  background: #00FF66;
  text-decoration-color: #003300;
}

nav ul li a:hover {
  backgroud: #009966;
  text-decoration-color: #003300;
}

main {
  margin-top: 60px;
  width: 75%;
  font-family: 'Special Elite', cursive;
}

h1 , h2 , h3 , h4 , h5 , h6 {
  font-family: 'Sigmar One', cursive;
  display: inline;
}

a {
  font-family: 'Contrail One', cursive;
}
