<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8"/>
	<title>Alterar</title>
	<link rel="stylesheet" href="css/style.css"/>
</head>

<body>
  <Form>
    <field-box>
      <Label></Label>
      <Checkbox></Checkbox>
    </field-box>

    <field-box>
      <Label></Label>
      <Input></Input>
    </field-box>

    <field-box>
      <Label></Label>
      <Radio></Radio>
    </field-box>

    <field-box>
      <Label></Label>
      <Select></Select>
    </field-box>

    <field-box>
      <Label></Label>
      <Textarea></Textarea>
    </field-box>
  </Form>

	<script src="js/script.js"></script>
</body>

</html>
